img{
    width: 30%;
    margin: 1.2%;
}
nav{
    text-transform: uppercase;
    border-bottom: 2px solid cornflowerblue;
    width: 45%;
    margin-left: 1.2%;
    padding: 20px , 0px;
    font-size: 39px;
}
#hi{

    margin: top 60px;
    padding-top: 30px;
}